.header-links a{
    color: grey !important;
    font-family: roboto medium;
    font-weight:bold;
    font-size: 16px;
 
}
.header a:hover{
    color: #9219a6 !important;

}
.navbar-brand,.header-links{
    margin-left:5%;
    margin-right:5%; 
}

.section1{
    background-color:#e9edf0 ;

}

.section1{
    background-color:#e9edf0 ;
}
.section2,.section3{
    background-color: white;
    padding-top:4%; 
}
.sechead{
    
    font-family:roboto light;
    font-size:24px;
    font-weight: bold;
}
.secbody{
    
    font-family:roboto regular;
    font-size:16px;
    font-weight: normal;
}
.secfoot a{
    padding:5px;
    color: #9219a6;
    font-family:roboto medium;
    font-size:14px;
    font-weight: bold;
}
hr{
    color: #e0e0e0;    
    margin-top: 4%;
    margin-bottom:4%;  
}
.sec{
    padding:4%; 
}

/*.header{
    color: grey;
    font-family: roboto medium;
    font-weight:bold;
    font-size: 16px;
}
.header:hover{
    color: #9219a6;

}

.navbar-brand img{
    padding-left:25%; 
}
.navbar-collapse ul{
    padding-right:6%; 
}
.section1{
    background-color:#e9edf0 ;
}
.section2,.section3{
    background-color: white;
    padding-top:4%; 
}
.sec2head{
    
    font-family:roboto light;
    font-size:24px;
    font-weight: bold;
}
.sec2body{
    
    font-family:roboto regular;
    font-size:16px;
    font-weight: normal;
}
.sec2foot a{
    padding:5px;
    color: #9219a6;
    font-family:roboto medium;
    font-size:14px;
    font-weight: bold;
}
hr{
    color: #e0e0e0;    
    margin-top: 4%;
    margin-bottom:4%;  
}
.btn{
    margin-left:8%;
    padding:1% 5% 1% 5%;
}*/